*.env
*.phalcon*
*cache/security/*
*cache/sessions/*
*cache/views/*
*cache/global/*
*cache/shared/*
*cache/plugins/*
*storage/*
*vendor/*
*composer.lock
*logs/*
*dev
*/dev/*
*.test.*
*.ini
!*.gitkeep
mysql/
supervisord.log
supervisord.*
