.card,.card-header,.card-footer {
	border-radius:0!important;
	border:none;
}

.card {
	border:1px solid #f191af26;
	box-shadow:2px 1px 0 3px #f191af12;
}

.card-header {
	color:#FFF;
	border:none;
	background-color:#f191afc7;
}

.sakura-icolor {
	color:#FFF;
}

.sakura-color {
	color:#f091af;
}

.sakura-bg {
	background:url(../img/nav-bg-1.jpg);
	background-size:cover;
	background-position:center top;
}

.sakura-bgx {
	background-color:#252525d5;
	height:100%;
}

.sidebar a span {
	font-size:1rem;
}

.alert {
	border-radius:0!important;
	color:rgba(25,25,25,0.85);
}

.alert-danger {
	background:#f19191;
}

.alert-success {
	background:#91f192;
}

.alert-warning {
	background:#f1d691;
}

.alert-info {
background:#91bdf1;
}

[type="search"],.custom-select {
	border:none;
	color:#FFF;
	border-radius:0;
	background-color:#f191afe5;
}

.btn-sakura {
	background:#f191afe5;
	color:#FFF!important;
	border-color:#f191afff;
}

.btn-sakura:active,.btn-sakura:hover {
	background:#f191afff;
	border-color:#f191afff;
}

.card-header .text-primary {
	color:#FFF!important;
}

.swal2-actions button {
	margin:0 5px;
}